<%= form_with url: "/users/#{@user.id}/movies/#{@movie.movie_id}/viewing_party", method: :post, local: true do |f|%>
<%= f.label :duration %>
<%= f.number_field :duration, min: @movie.runtime.to_i %>
<%= f.label :date %>
<%= f.date_field :date, min: Date.today %>
<%= f.label :time %>
<%= f.time_field :time %>
<%= f.hidden_field :img_url, value: @movie.img_url %>
<%= f.hidden_field :movie_title, value: @movie.title %>
<%= f.hidden_field :runtime, value: @movie.runtime %>
<p><% @users.each do |user| %>
  <%= f.check_box user.name %>
  <%= f.label user.name  %>
<% end %></p>
<%= f.submit "Create Party" %>
<% end %>
